@model RecipeWorld.ViewModel.RecipeFormViewModel
@{
    ViewBag.Title = "Write Recipe";
}

<h2></h2><br />
<style>
    .dynamicimg {
        width:90%;
        max-width: 350px;
        margin: auto;
        margin-top: 10px;
    }

</style>
@using (Html.BeginForm("Save", "WriteRecipe", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <fieldset class="form-horizontal">
        @if (Model.Recipe.Id == 0)
        {
            <legend>Share your secrete recipe</legend>
        }
        else
        {
            <legend>Update new recipe</legend>
        }

        @Html.HiddenFor(m => m.Recipe.Id)
        @Html.HiddenFor(m => m.Recipe.Email)
        @Html.HiddenFor(m => m.Recipe.CreateDate)
        @Html.HiddenFor(m => m.Recipe.ModifiedDate)
        @Html.HiddenFor(m => m.Recipe.ViewCount)
        <div class="form-group" id="upload-image-div">
            <div class="col-lg-6 ">
                <div class="fileBox">
                    <label for="RecipeFiles" class="btn_file">Image</label>
                    <input type="file" id="RecipeFiles" name="RecipeFiles" class="custom_file" accept="image/*" onchange="loadFile(event);" multiple>
                </div>
            </div>
            <div class='col-lg-10 preview' id="dynamicImage">

            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10">
                @Html.TextBoxFor(m => m.Recipe.Title, new { @class = "form-control", @placeholder="Title" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10">
                @Html.TextAreaFor(m => m.Recipe.Ingredients, new { @class="form-control", @rows="5", @placeholder="Ingredients"})
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10">
                @Html.TextAreaFor(m => m.Recipe.Contents, new { @class = "form-control", @rows = "10", @placeholder = "Recipe" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-3">
                <button type="submit" class="btn btn-primary">Save Recipe</button>
            </div>
        </div>
    </fieldset>
}

<script>
    var loadFile = function (event) {
        var files = event.target.files;
        for (var i = 0; i < files.length; i++) {
            $("#dynamicImage").append("<img src='" + URL.createObjectURL(event.target.files[i]) + "' class='dynamicimg' /><br/>");
        }
    }
</script>