@model RecipeWorld.Models.RecipeComment

<div class="form-horizontal">
    @using (Html.BeginForm("SaveComments", "Recipe", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {

        @Html.HiddenFor(m => m.Id)
        @Html.HiddenFor(m => m.RecipeId)
        @Html.HiddenFor(m => m.ParentArticleId)
        @Html.HiddenFor(m => m.CreateDate)
        @Html.HiddenFor(m => m.ModifiedDate)
        @Html.HiddenFor(m => m.Email)
        @Html.TextAreaFor(m => m.Contents, new { @class = "form-control", @placeholder = "Comments" })
    <div class="col-lg-10" style="padding:10px">
        <button type="button" class="btn btn-sm btn-primary"name="save_comment" id="save_comment" onclick="save_comment(@Model.RecipeId,>Save Comments</button>
        <button type="button" class="btn btn-outline-primary btn-sm" name="save_comment" id="save_comment" onclick="save_comment(<?php echo $articleId . " ," . $comment['id'] . "," . "'contents2'" ?>);">등 록</button>
    </div>
    }
</div>