@model RecipeWorld.ViewModel.RecipeFormViewModel
@{
    ViewBag.Title = "Write Recipe";
}

<h2></h2><br />
<style>
    .field-validation-error {
        color: rgb(244, 124, 60);
    }
    .input-validation-error {
        border: 1px solid rgb(244, 124, 60);
    }

    input,
    select,
    textarea {
        max-width: 400px;
    }

    .fileBox .btn_file {
        display: inline-block;
        border: 1px solid #93c54b;
        width: 100%;
        height: 35px;
        font-size: 0.8em;
        color: #93c54b;
        line-height: 35px;
        text-align: center;
        vertical-align: middle;
        border-radius: 2em;
        max-width: 400px;
    }

    .fileBox .custom_file {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0,0,0,0);
        border: 0;
        max-width: 400px;
    }

    .dynamicimg {
        width: 90%;
        max-width: 350px;
        margin: auto;
        margin-top: 10px;
    }
</style>
@using (Html.BeginForm("Save", "Recipe", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <fieldset class="form-horizontal">
        @if (Model.Recipe.Id == 0)
        {
            <legend>Share your secrete recipe</legend>
        }
        else
        {
            <legend>Update new recipe</legend>
        }

        @Html.HiddenFor(m => m.Recipe.Id)
        @Html.HiddenFor(m => m.Recipe.Email)
        @Html.HiddenFor(m => m.Recipe.CreateDate)
        @Html.HiddenFor(m => m.Recipe.ModifiedDate)
        @Html.HiddenFor(m => m.Recipe.ViewCount)
        <div class="form-group" id="upload-image-div">
            <div class="col-lg-6 ">
                <div class="fileBox">
                    <label for="RecipeFiles" class="btn_file">Image</label>
                    <input type="file" id="RecipeFiles" name="RecipeFiles" class="custom_file" accept="image/*" onchange="loadFile(event);" multiple>
                </div>
            </div>
            <div class='col-lg-10 preview' id="dynamicImage">

            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10">
                @Html.TextBoxFor(m => m.Recipe.Title, new { @class = "form-control", @placeholder = "Title" })
                @Html.ValidationMessageFor(m => m.Recipe.Title)
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10">
                @Html.TextAreaFor(m => m.Recipe.Ingredients, new { @class = "form-control", @rows = "5", @placeholder = "Ingredients" })
                @Html.ValidationMessageFor(m => m.Recipe.Ingredients)
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10">
                @Html.TextAreaFor(m => m.Recipe.Contents, new { @class = "form-control", @rows = "10", @placeholder = "Recipe" })
                @Html.ValidationMessageFor(m => m.Recipe.Contents)
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-3">
                <button type="submit" class="btn btn-primary">Save Recipe</button>
            </div>
        </div>
    </fieldset>
}
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}

<script>
    var loadFile = function (event) {
        var files = event.target.files;
        $(".dynamicimg").remove();
        for (var i = 0; i < files.length; i++) {
            $("#dynamicImage").append("<img src='" + URL.createObjectURL(event.target.files[i]) + "' class='dynamicimg' /><br/>");
        }
    }
</script>